
<h1>About US</h1>
<p>We give you best recommendations for car</p>
<br>
<p>This project is developed as a Master's Project while at San Jose State University</p>
<br>
<h4>
<p>THE TEAM :</p>
<li>
  <ul> Lubnagazal Attarwale </ul>
  <ul> Shriyansh Jain </ul>
  <ul> Kavish Parikh </ul>
  <ul> Nivedita Sancheti </ul>
</li>
</h4>

<br><br>
<p>Please click on the following link to download the report : <a href="link or path to report" target="_blank">here</a></p>
