<footer class="text-center">

        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright © http://trendingwheels.ngrok.io/ 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>
